pipeline/Child_Pipeline.json
{
	"name": "Child_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "act_foreach_iterating_over_race_result",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.result_data",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 30,
					"activities": [
						{
							"name": "act_set_season_year",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "season_year",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_set_round",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "round",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_copy_result_data_to_adlsgen2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_set_season_year",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "act_set_round",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"result_data": {
				"type": "array"
			}
		},
		"variables": {
			"season_year": {
				"type": "String"
			},
			"round": {
				"type": "String"
			},
			"season": {
				"type": "String"
			}
		},
		"folder": {
			"name": "FormulaOne_Ingestion_PL"
		},
		"annotations": []
	}
}