pipeline/PL_Ingest_API.json
{
	"name": "PL_Ingest_API",
	"properties": {
		"activities": [
			{
				"name": "act_copy_season_data_to_adlsgen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_lookup_insert_metadata_entry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_HTTP_Source",
						"type": "DatasetReference",
						"parameters": {
							"Relative_URL": {
								"value": "Seasons.json?limit=100",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSGEN2_SINK",
						"type": "DatasetReference",
						"parameters": {
							"Directory_Path": {
								"value": "@concat('bronze/season/',string(utcNow('yyyyMMdd')))",
								"type": "Expression"
							},
							"File_Name": "season"
						}
					}
				]
			},
			{
				"name": "act_lookup_season_data",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_copy_season_data_to_adlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('bronze/season/',string(utcNow('yyyyMMdd')))",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLSGEN2_SINK",
						"type": "DatasetReference",
						"parameters": {
							"Directory_Path": {
								"value": "@concat('')",
								"type": "Expression"
							},
							"File_Name": {
								"value": "@concat('')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_iterating_over_season_data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_lookup_season_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_lookup_season_data').output.value[0].MRData.Seasontable.Seasons",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 30,
					"activities": [
						{
							"name": "act_copy_race_data_to_adlsgen2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_HTTP_Source",
									"type": "DatasetReference",
									"parameters": {
										"Relative_URL": {
											"value": "@concat(item().season,'.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLSGEN2_SINK",
									"type": "DatasetReference",
									"parameters": {
										"Directory_Path": {
											"value": "@concat('bronze/races/', string(utcNow('yyyyMMdd')))",
											"type": "Expression"
										},
										"File_Name": {
											"value": "@item().season",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "act_lookup_race_data",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_iterating_over_season_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('bronze/races/', string(utcNow('yyyyMMdd')))",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLSGEN2_SINK",
						"type": "DatasetReference",
						"parameters": {
							"Directory_Path": {
								"value": "@concat('')",
								"type": "Expression"
							},
							"File_Name": {
								"value": "@concat('')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_iterating_over_races_data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_lookup_race_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_lookup_race_data').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 30,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Child_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"result_data": {
										"value": "@item().MRData.RaceTable.Races\n",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "act_set_start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "job_id",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_lookup_insert_metadata_entry",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_set_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "INSERT INTO \"formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{variables('job_id')}', 'PL_ingest_api', 'season_api', 'In-Progress', '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}');\n\nINSERT INTO \"formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{variables('job_id')}', 'PL_ingest_api', 'driver_api', 'In-Progress', '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}');\n\nINSERT INTO \"formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{variables('job_id')}', 'PL_ingest_api', 'constructor_api', 'In-Progress', '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}');\n\nINSERT INTO \"formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{variables('job_id')}', 'PL_ingest_api', 'circuit_api', 'In-Progress', '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}');\n\nINSERT INTO \"formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{variables('job_id')}', 'PL_ingest_api', 'race_api', 'In-Progress', '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}');\n\nINSERT INTO \"formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{variables('job_id')}', 'PL_ingest_api', 'result_api', 'In-Progress', '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}');\n\nSELECT job_id, job_name, task_name, status, start_time FROM \"formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lkp_update_season_dvr_cons_ckt_api_metadata_entry",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_copy_season_data_to_adlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "act_copy_circuit_data_to_adlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "act_copy_constructor_api_to_adlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "act_copy_driver_api_to_adlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"formulaone_audit\".job_metadata_table \nset status = 'success',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='season_api';\n\nupdate \"formulaone_audit\".job_metadata_table \nset status = 'success',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='driver_api';\n\nupdate \"formulaone_audit\".job_metadata_table \nset status = 'success',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='constructor_api';\n\nupdate \"formulaone_audit\".job_metadata_table \nset status = 'success',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='circuit_api';\n\nSELECT * FROM \"formulaone_audit\".job_metadata_table;\n",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_race_api_metadata_entry",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_iterating_over_season_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"formulaone_audit\".job_metadata_table \nset status = 'success',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='race_api';\n\nSELECT * FROM \"formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_result_api_metadata_entry",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_iterating_over_races_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"formulaone_audit\".job_metadata_table \nset status = 'success',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='result_api';\n\nSELECT * FROM \"formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_result_api_metadata_entry_Fail",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_iterating_over_races_data",
						"dependencyConditions": [
							"Skipped",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"formulaone_audit\".job_metadata_table \nset status = 'Failed',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='result_api';\n\nSELECT * FROM \"formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_race_api_metadata_entry_Fail",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_iterating_over_season_data",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"formulaone_audit\".job_metadata_table \nset status = 'Failed',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='race_api';\n\nSELECT * FROM \"formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lkp_upd_season_dvr_ckt_cons_api_metadata_entry_Fail",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_copy_season_data_to_adlsgen2",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "act_copy_circuit_data_to_adlsgen2",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "act_copy_constructor_api_to_adlsgen2",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "act_copy_driver_api_to_adlsgen2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"formulaone_audit\".job_metadata_table \nset status = 'Failed',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='season_api';\n\nupdate \"formulaone_audit\".job_metadata_table \nset status = 'Failed',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='driver_api';\n\nupdate \"formulaone_audit\".job_metadata_table \nset status = 'Failed',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='constructor_api';\n\nupdate \"formulaone_audit\".job_metadata_table \nset status = 'Failed',\nend_time = '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{variables('job_id')}' and task_name ='circuit_api';\n\nSELECT * FROM \"formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_copy_circuit_data_to_adlsgen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_lookup_insert_metadata_entry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_HTTP_Source",
						"type": "DatasetReference",
						"parameters": {
							"Relative_URL": {
								"value": "circuits.json?limit=100",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSGEN2_SINK",
						"type": "DatasetReference",
						"parameters": {
							"Directory_Path": {
								"value": "@concat('bronze/circuits/',string(utcNow('yyyyMMdd')))",
								"type": "Expression"
							},
							"File_Name": "circuits"
						}
					}
				]
			},
			{
				"name": "act_copy_constructor_api_to_adlsgen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_lookup_insert_metadata_entry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_HTTP_Source",
						"type": "DatasetReference",
						"parameters": {
							"Relative_URL": "constructors.json?limit=300"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSGEN2_SINK",
						"type": "DatasetReference",
						"parameters": {
							"Directory_Path": {
								"value": "@concat('bronze/constructors/', utcNow('yyyyMMdd'))",
								"type": "Expression"
							},
							"File_Name": "constructors"
						}
					}
				]
			},
			{
				"name": "act_copy_driver_api_to_adlsgen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_lookup_insert_metadata_entry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_HTTP_Source",
						"type": "DatasetReference",
						"parameters": {
							"Relative_URL": "drivers.json?limit=1000"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSGEN2_SINK",
						"type": "DatasetReference",
						"parameters": {
							"Directory_Path": {
								"value": "@concat('bronze/drivers/', string(utcNow('yyyyMMdd')))",
								"type": "Expression"
							},
							"File_Name": "drivers"
						}
					}
				]
			}
		],
		"variables": {
			"job_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "FormulaOne_Ingestion_PL"
		},
		"annotations": []
	}
}