pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "job_id",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_lookup_insert_metadata_entry",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "INSERT INTO \"formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{variables('job_id')}', 'PL_ingest_api', 'season_api', 'In-Progress', '@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'),'yyyy-MM-dd HH:mm:ss')}');\n\nSELECT job_id, job_name, task_name, status, start_time FROM \"formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"job_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}